<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <template th:include="wechat/common/header_statics :: header('鼎骏商城')" th:remove="tag"></template>
    <link rel="stylesheet" th:href="@{/static/css/wechat.css}"/>
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="layout-top-nav skin-yellow h5-layout" style="height: auto; min-height: 100%;">
<div class="wrapper" style="height: auto; min-height: 100%;">

    <!-- Full Width Column -->
    <div id="content" class="content-wrapper home product-list" v-cloak>
        <div id="carousel-home-generic" class="carousel slide margin-bottom" data-ride="carousel" style="margin-bottom: 1rem">
            <div class="weui-search-bar" id="searchBar">
                <div class="weui-search-bar__form">
                    <div class="weui-search-bar__box">
                        <i class="weui-icon-search"></i>
                        <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
                        <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                    </div>
                    <label class="weui-search-bar__label" id="searchText">
                        <i class="weui-icon-search"></i>
                        <span>搜索</span>
                    </label>
                </div>
                <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
            </div>
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li
                        data-target="#carousel-home-generic"
                        :data-slide-to="index"
                        :class="{active: index === 0}"
                        v-for="(img, index) in carouselImgs"
                ></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div
                        class="item"
                        :class="{active: index === 0}"
                        v-for="(img, index) in carouselImgs"
                        @click="clickAdvertisement(img)"
                >
                    <img :src="img.image | coverPath" alt="...">
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-home-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-home-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="container menus">
            <div class="index_btn" v-if="index == 0" v-for="(row, index) in productCategories">
                <div class="index_btn_n ov">
                    <a href="#" v-for="item in row" @click="more(item.id)">
                        <div class="index_btn_n ov">
                            <div class="index_btn_bg">
                                <img :src="item.coverImage | coverPath">
                                <span>{{item.name}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="index_btn_xl" @click="categoryMore = !categoryMore">
                    <div class="index_btn_xl_b">
                        <img v-if="categoryMore" th:src="@{/static/image/wechat/index_btn_xl.png}">
                        <img v-if="!categoryMore" th:src="@{/static/image/wechat/WeChat Image_20180322172122.png}">
                    </div>
                </div>
            </div>
            <div class="index_btn" v-if="index > 0" v-show="categoryMore" v-for="(row, index) in productCategories">
                <div class="index_btn_n ov">
                    <a href="#" v-for="item in row" @click="more(item.id)">
                        <div class="index_btn_n ov">
                            <div class="index_btn_bg">
                                <img :src="item.coverImage | coverPath">
                                <span>{{item.name}}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="index_latestgoods_b">
            <div class="index_latestgoods_s">
                <div style="overflow: hidden" class="index_latestgoods_s_t  ">
                    <img width="18" style="float: left;" th:src="@{/static/image/wechat/index_sp_icon.png}">
                    <span style="float: left;" class="index_latestgoods_s_t_sp">最新商品</span>
                    <a href="#" @click="more('newest')">
                        <span style="float: right;" class="index_latestgoods_s_t_more">更多&gt;&gt;</span>
                    </a>
                </div>
                <div class="index_latestgoods_content">
                    <div class="index_latestgoods_label" v-if="product.newest" v-for="product in newest" @click="productDetail(product)">
                        <img :src="product.coverImage | coverPath">
                        <span class="index_latestgoods_name">{{product.name}}</span>
                        <span class="index_latestgoods_price">￥{{product | price}}</span>
                    </div>
                </div>
            </div>
        </div>

        <!--广告-->
        <div v-if="bannerImgs.length > 0" class="index_advertisement" @click="clickAdvertisement(bannerImgs[0])">
            <img :src="bannerImgs[0].image | coverPath">
        </div>

        <div class="index_latestgoods_b">
            <div class="index_latestgoods_s">
                <div style="overflow: hidden" class="index_latestgoods_s_t ">
                    <img width="18" style="float: left;" th:src="@{/static/image/wechat/index_bm_icon.png}">
                    <span style="float: left;" class="index_latestgoods_s_t_sp">必买好货</span>
                    <a href="#" @click="more('recommend')">
                        <span style="float: right;" class="index_latestgoods_s_t_more">更多&gt;&gt;</span>
                    </a>
                </div>
                <div class="index_latestgoods_content">
                    <div class="index_latestgoods_label index_needbuy_width" v-if="product.recommend" v-for="product in recommend" @click="productDetail(product)">
                        <div class="index_needbuy_img_b">
                            <img :src="product.coverImage | coverPath">
                            <div class="index_needbuy_price_b">
                                <span class="index_needbuy_price">￥{{product | price}}</span>
                            </div>
                        </div>
                        <span class="index_latestgoods_name">{{product.name}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <!-- Main content -->
            <section class="content">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <img width="18" th:src="@{/static/image/wechat/index_shoppingmall_shopping_cart_icon_s.png}" style="margin-top: -4px;"> 鼎骏商城
                            <a href="#" class="more pull-right" @click="more()">
                                更多
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-6 col-md-4 padding-none" v-for="product in products">
                            <div class="thumbnail margin-5" @click="productDetail(product)">
                                <img :alt="product.name" :src="product.coverImage | coverPath">
                                <div class="caption">
                                    <p class="product-title">{{product.name}}</p>
                                    <p>
                                        <em class="product-price">¥ {{product | price}}</em>
                                        <a href="javascript:void(0)" class="pull-right add-cart-button" @click.stop="addCart(product)">
                                            <i class="iconfont icon-cart"></i>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-block btn-sm btn-more" @click="more()">查看更多</button>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.container -->
    </div>
    <aside th:replace="wechat/common/aside"></aside>
    <!-- /.content-wrapper -->
    <footer th:replace="wechat/common/footer_html"></footer>
</div>
<!-- ./wrapper -->
<footer th:replace="wechat/common/footer_statics"></footer>
<script th:src="@{/static/js/wechat/index.js}"></script>
</body>
</html>
