<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <template th:include="wechat/common/header_statics :: header('鼎骏医车 - 钣金喷漆')" th:remove="tag"></template>
    <link rel="stylesheet" th:href="@{/static/css/wechat.css}"/>
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="layout-top-nav skin-yellow h5-layout" style="height: auto; min-height: 100%;">
<div id="content"  class="wrapper orderform-new sheet-metal-paint-confirm" style="height: auto; min-height: 100%;" v-cloak>

    <!-- Full Width Column -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Main content -->
            <section class="content">
                <div class="weui-cells member-address">
                    <a href="#content"
                       v-if="selectedShop == null"
                       class="weui-media-box weui-cell_access weui-media-box_appmsg new-member-address"
                       @click="shopSelector.$instance.open()">
                        <div class="weui-media-box__hd">
                            <img class="weui-media-box__thumb" th:src="@{/static/image/wechat/add_address.png}" alt="">
                        </div>
                        <div class="weui-media-box__bd">
                            <p class="weui-media-box__desc">选择门店</p>
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                    <a href="#content"
                       class="weui-media-box weui-cell_access weui-media-box_appmsg member-address-item"
                       v-if="selectedShop != null"
                       @click="shopSelector.$instance.open()">
                        <div class="weui-media-box__bd">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="weui-media-box__title">
                                        <i class="fa fa-fw fa-map-marker location"></i>
                                        店铺名称：{{selectedShop.name}}
                                    </p>
                                </div>
                            </div>

                            <p class="weui-media-box__desc">店铺地址：{{selectedShop.address}}</p>
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                </div>
                <div class="weui-cells">
                    <a href="#content" class="weui-cell weui-cell_access" @click="serverSelector.$instance.open()">
                        <div class="weui-cell__bd">
                            <p>
                                {{selectedPaint && selectedPaint.name}}
                            </p>
                        </div>
                        <div class="weui-cell__ft">
                            <span class="highlight">￥{{getFinalTotal() | price}}</span>
                        </div>
                    </a>
                </div>
                <div class="weui-cells__title">支付方式</div>
                <div class="weui-cells weui-cells_radio">
                    <label class="weui-cell weui-check__label">
                        <div class="weui-cell__bd">
                            <p>在线支付</p>
                        </div>
                        <div class="weui-cell__ft">
                            <input type="radio" class="weui-check" name="paymentType" value="ONLINE" v-model="paymentType">
                            <span class="weui-icon-checked"></span>
                        </div>
                    </label>
                </div>
                <div class="weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p>
                                商品总价
                            </p>
                        </div>
                        <div class="weui-cell__ft">
                            <span class="highlight">￥{{getFinalTotal() | price}}</span>
                        </div>
                    </div>
                </div>

                <div class="tishi">
                    <div class="more">
                        <div class="text">温馨提示</div>
                    </div>
                    <ul>
                        <li>1.本服务针对日程行驶中的小碰擦和漆面划痕的修补。事故车辆暂时无法提供服务。</li>
                        <li>2.鼎骏所提供的价格仅包含喷漆服务。钣金服务按照店内价格结算。</li>
                        <li>3.已经做过全车改色特效漆的车辆暂时无法提供服务。（变色龙漆、各色哑光漆等）。</li>
                    </ul>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.container -->
    </div>
    <sidemodal class="shop-selector" :instance="shopSelector" :padding="0">
        <template slot="header">
            选择门店
        </template>
        <template slot="body">
            <div class="shop" :class="{selected: selectedShop && shop.id === selectedShop.id}" v-for="shop in shops">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg" @click="selectShop(shop)">
                    <div class="weui-media-box__hd">
                        <img width="60" height="60" class="weui-media-box__thumb" :src="shop.styleImages[0].id | coverPath" :alt="shop.name">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">{{shop.name}}</h4>
                        <p class="weui-media-box__desc">{{shop.address}}</p>
                    </div>
                </a>
            </div>
        </template>
    </sidemodal>
    <sidemodal :instance="serverSelector" :padding="0">
        <template slot="header">
            总价格 <p class="main-text-color pull-right">￥{{getFinalTotal() | price}}</p>
        </template>
        <template slot="body">
            <div class="weui-cells" style="margin-top: 0">
                <div class="weui-cell" v-for="row in selectedPaintSurfaces">
                    <div class="weui-cell__bd">
                        <p>{{row.name}}</p>
                    </div>
                    <div class="weui-cell__ft">{{getPaintSurfacePrice(row)}}</div>
                </div>
            </div>
        </template>
    </sidemodal>
    <div class="row tabbar">
        <div class="col-xs-8 total">
            <span>合计：</span>
            <span class="main-text-color">￥{{getFinalTotal() | price}}</span>
        </div>
        <div class="col-xs-4 padding-none">
            <button type="button" class="btn btn-flat submit-order main-btn" @click="submit">提交订单</button>
        </div>
    </div>
    <aside th:replace="wechat/common/aside"></aside>
    <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->
<footer th:replace="wechat/common/footer_statics"></footer>
<script th:src="@{/static/js/wechat/sheet-metal-paint/confirm.js}"></script>
</body>
</html>