<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <template th:include="wechat/common/header_statics :: header('鼎骏商城 - 购物车')" th:remove="tag"></template>
    <link rel="stylesheet" th:href="@{/static/css/wechat.css}"/>
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="layout-top-nav skin-yellow h5-layout" style="height: auto; min-height: 100%;">
<div id="content"  class="wrapper product-list cart-list" style="height: auto; min-height: 100%;" v-cloak>

    <!-- Full Width Column -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Main content -->
            <section class="content">
                <div class="weui-cells weui-cells_form" style="margin-top: 0">
                    <div class="weui-cell weui-cell_access" @click="changeHeadPhoto">
                        <div class="weui-cell__hd">
                            <label class="weui-label">更换头像</label>
                        </div>
                        <div class="weui-cell__bd">
                            <form ref="uploadForm">
                                <input ref="headPhotoInput" name="attachments" style="display: none" type="file" accept="image/*" @change="chosenFile">
                            </form>
                        </div>
                        <div class="weui-cell__ft">
                            <img width="40" height="40" :src="getHeadPhoto()" class="img-circle">
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" placeholder="请输入姓名" v-model="member.name">
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">手机号</label></div>
                        <div class="weui-cell__bd">
                            {{member.mobile}}
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_access" @click="logout">
                        <div class="weui-cell__hd"><label class="weui-label">退出</label></div>
                        <div class="weui-cell__bd">
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </div>
                </div>
                <div class="weui-btn-area">
                    <a class="weui-btn weui-btn_primary" href="javascript:" @click="save">保存</a>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.container -->
    </div>
    <aside th:replace="wechat/common/aside"></aside>
    <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->
<footer th:replace="wechat/common/footer_statics"></footer>
<script th:src="@{/static/js/wechat/member/modify.js}"></script>
</body>
</html>